<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/font-awesome.min.css}" type="text/javascript" rel="stylesheet">
    <link th:href="@{css/bootsnav.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/normalize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/css.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/jquery-1.11.0.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootsnav.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{css/head.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{js/jquery-1.11.0.min.js}" type="text/javascript"></script>
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet">
    <script th:src="@{js/clock.js}" type="text/javascript"></script>

</head>
<body>
<footer th:fragment="common_head">
        <nav class="navbar">
            <script>
                $(".searchBtn").click(function () {
                    window.location.href='/GetSchoolInfo?name='+$(".searchIn").val();
                });
            </script>
            <div class="nav-info">
                <div id="Clock" class="schoolinfo mt10" align="left" style="color: #dcd4d4"></div>
                <a class="username" th:text="${session.Users.getUsername()}">admin</a>
                <a id="info">||&nbsp;&nbsp;&nbsp;我的信息</a>
                <a th:href="@{/logout}" class="logout">[ 退 出 ]</a>
            </div> <!-- nav-info -->
            <div class="nav-search" style="background: url(/images/ab01.jpg)">
                <div class="search-form" >
                    <input type="search" class="searchIn" placeholder="搜学校...">

                    <button class="searchBtn"><a >搜索</a></button>

                </div >

            </div>
            <ul class="menu nav nav-pills" style="margin-left:auto; margin-right: auto;">
                <li th:class="${active}"><a th:style="${color}" th:href="@{/schoolInfo}">学校信息</a></li>
                <li th:class="${active1}"><a th:style="${color1}" th:href="@{/scoreline}">历年分数线</a></li>
                <li th:class="${active2}"><a th:style="${color2}" th:href="@{/professioninfo}">专业</a></li>
                <li th:class="${active3}"><a th:style="${color3}" th:href="@{/Recommend}">推荐</a></li>
            </ul>
            <div id="fade" class="black_overlay"></div>
            <!-- 编辑框 可以加自己的样式 -->
            <div id="MyDiv" class="white_content">
                <form th:action="@{/updateUserInfo}">
                    学生姓名：<input type="text" name="u_name" th:value="${session.Users.getUsername()}"  />&nbsp;&nbsp;
                    联系方式：<input type="text" name="u_phone" th:value="${session.Users.getPhone()}"  />&nbsp;&nbsp;
                    性&nbsp;&nbsp;别：<input type="text" name="u_sex" th:value="${session.Users.getSex().equals('0') ?'男':'女'}" />&nbsp;&nbsp;
                    生源&nbsp;地：<input type="text" name="u_location" th:value="${session.Users.getLocation()}" /><br>
                    文科/理科：<input type="text" name="u_leibie" th:value="${session.Users.getLeibie().equals('0') ?'文科':'理科'}"  />&nbsp;&nbsp;
                    分&nbsp;&nbsp;数：<input type="text" name="u_grade" th:value="${session.Users.getGrade()}" />&nbsp;&nbsp;
                    批&nbsp;&nbsp;次：<input type="text" name="u_pici" th:value="${session.Users.getPici().equals('0') ?'本科第一批次':'本科第二批次'}" placeholder="本科第一批次"/>&nbsp;&nbsp;
                    爱&nbsp;&nbsp;好：<input type="text" name="u_hobby" th:value="${session.Users.getHobby()}" /><br>
                        <input type="submit" value="修改">
                </form>
            </div>

            <script type="text/javascript">

                $("#info").click(function() {
                    document.getElementById("MyDiv").style.display = 'block';
                    document.getElementById("fade").style.display = 'block';
                    var bgdiv = document.getElementById("fade");
                    bgdiv.style.width = document.body.scrollWidth;
                    $("#fade").height($(document).height());
                });
                //关闭弹出层
                $("#fade").click(function() {
                    document.getElementById("MyDiv").style.display = 'none';
                    document.getElementById("fade").style.display = 'none';
                });
            </script>
        </nav>
</footer>
</body>
</html>