<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/font-awesome.min.css}" type="text/javascript" rel="stylesheet">
    <link th:href="@{css/bootsnav.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/normalize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/css.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/jquery-1.11.0.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootsnav.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{js/pagescroller.min.js}" type="text/javascript"></script>
    <title>忘记密码</title>
</head>

<body class="logobg_style">
<div id="large-header" class="large-header login-page">
    <canvas id="demo-canvas" width="1590" height="711"></canvas>
    <div class="login-form">
        <div class="login-content" style="z-index: 1">
            <h1 class="title_name">修改密码</h1>
            <form method="get" action="/forgetPassword" role="form" id="form_login" class="login_padding"
                  onsubmit="return check()">
                <div class="form-group clearfix ph">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon_phone"></i>
                        </div>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="联系方式"
                               autocomplete="off">
                    </div>
                </div>
                <div class="form-group clearfix password1">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon_password"></i>
                        </div>
                        <input type="password" class="form-control" name="pw1" id="pw1" placeholder="新密码"
                               autocomplete="off">
                    </div>
                </div>
                <div class="form-group clearfix password2">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon_password"></i>
                        </div>
                        <input type="password" class="form-control" name="pw2" id="pw2" placeholder="确认密码"
                               autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-danger btn-block btn-login"  onclick="checkall()">
                       <i class="fa fa-sign-in"></i>
                    </input>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{js/TweenLite/TweenLite.min.js}"></script>
<script th:src="@{js/TweenLite/EasePack.min.js}"></script>
<script th:src="@{js/TweenLite/rAF.js}"></script>
<script th:src="@{js/TweenLite/demo-1.js}"></script>
<script th:src="@{js/form_validation.js}"></script>
</body>
</html>
