<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="nav-info">
            <a href="#" class="username" th:text="${Users.username}">chieminchan</a>
            <a href="myBookself.html" class="bookshelf">||&nbsp;&nbsp;&nbsp;我的书架</a>
            <a href="#" class="logout">[ 退 出 ]</a>
        </div> <!-- nav-info -->
        <div class="nav-search">
            <a href="index.html"><img class="logo" src="img/logo2.png"></a>
            <div class="search-form">
                <input type="search" class="searchIn" placeholder="搜图书...">
                <a href="#" class="search-logo">| &nbsp;<img src="img/search.png"></a>
                <button class="searchBtn"><a href="#">搜索</a></button>
            </div>
        </div><!--  nav-search -->
        <ul class="menu">
            <li><a href="index.html">首页</a></li>
            <li><a href="bookStore.html">书籍良品</a></li>
            <li><a  class="active" href="#">求书区</a></li>
            <li><a href="#">服务区</a></li>
        </ul>
    </nav>
    <div class="askBook-pic"></div>
</header>
</body>
</html>