<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
</head>
<body>
<input type="button" id="b" value="d" onclick="b()">
<div id="main">

</div>
<script>
   function b(){
       var echarts = require('echarts');

       var chartDom = document.getElementById('main');
       var myChart = echarts.init(chartDom);
       var option;

       option = {
           xAxis: {
               type: 'category',
               data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
           },
           yAxis: {
               type: 'value'
           },
           series: [{
               data: [150, 230, 224, 218, 135, 147, 260],
               type: 'line'
           }]
       };

       option && myChart.setOption(option);
    }
</script>
</body>
</html>