<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>专业</title>
    <link th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/font-awesome.min.css}" type="text/javascript" rel="stylesheet">
    <link th:href="@{css/bootsnav.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/normalize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/css.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/jquery-1.11.0.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootsnav.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{css/css.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/head.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet">
    <script th:src="@{js/clock.js}" type="text/javascript"></script>
    <script type="application/javascript">
        $(document).ready(function(){
            $("a").click(function(){
                $("a").attr("class","selected");
            });
        });
    </script>

</head>
<body>
<div class="header-main">
    <div id="head" th:include="public/head :: common_head"></div>
</div>
<div class="wrap">
    <ul class="select">
        <li class="select-list ">
            <dl id="select1">
                <dt>本科 <i class="fa fa-angle-right"></i></dt>
                <dd class="select-all "><a th:href="@{/professioninfo(pro_category='本科专业')}">全部</a></dd>
                <dd><a th:each="bengke :${bk}"
                       th:text="${bengke}"
                       th:href="@{/professioninfo(disciplines=${bengke})}"
                       ></a></dd>
            </dl>
        </li>
        <li class="select-list ">
            <dl id="select2">
                <dt>专科 <i class="fa fa-angle-right"></i></dt>
                <dd class=" "><a th:href="@{/professioninfo(pro_category='高职专科专业')}">全部</a></dd>
                <dd><a th:each="zuanke :${zk}"
                       th:text="${zuanke}"
                       th:href="@{/professioninfo(disciplines=${zuanke})}"></a></dd>
            </dl>
        </li>
    </ul>
    <table width="100%" border="0" cellpadding="0" cellspacing="1" class="bgddd">
        <tbody>
        <tr  align="center" class="tb_title">
            <th>序号</th>
            <th>专业排名</th>
            <th>专业名称</th>
            <th>学历类别</th>
            <th>专业类别</th>
            <th>学科门类</th>
            <th></th>
        </tr>
        <tr th:each="proinfo: ${profession}" align="center" class="tb_content" id="a12654">
            <td th:text="${proinfoStat.index+1}"></td>
            <td th:text="${proinfo.getRanks()}">专业排名</td>
            <td>
                <a th:text="${proinfo.getProname()}"
                   th:href="@{/GetProfession(name=${proinfo.getProname()})}"></a>
            </td>
            <td th:text="${proinfo.getDegree_category()}">学历类别</td>
            <td th:text="${proinfo.getPro_category()}">专业类别</td>
            <td th:text="${proinfo.getDisciplines()}">学科门类</td>
            <td ><a th:href="@{/GetProfession(name=${proinfo.getProname()})}">
                <input type="button" value="详情"/>
            </a>
            </td>
        </tr>
        </tbody>
        <tr>
            <td colspan="8">
                <div class="pagelist">
                    <p>当前<span th:text="${profession.getNumber()} + 1"></span>页,总<span th:text="${profession.getTotalPages()}"></span>页
                        　　　　　　　　　　　　　　　　　共<span th:text="${profession.getTotalElements()}"></span>条记录
                        <a th:href="@{/professioninfo}">首页</a>
                        <a th:href="@{/professioninfo(pageNum = ${profession.hasPrevious()} ? ${profession.getNumber() } : 1)}">上一页</a>
                        <a th:href="@{/professioninfo(pageNum = ${profession.hasNext()} ? ${profession.getNumber()} + 2 : ${profession.getTotalPages()})}">下一页</a>
                        <a th:href="@{/professioninfo(pageNum = ${profession.getTotalPages()})}">尾页</a></p>
                </div>
            </td>
        </tr>
    </table>

</div>
<div class="bottom_main">
    <div id="bottom" th:include="public/bottom :: common_bottom"></div>
</div>
</body>
</html>