<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/font-awesome.min.css}" type="text/javascript" rel="stylesheet">
    <link th:href="@{css/bootsnav.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/normalize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/css.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/jquery-1.11.0.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootsnav.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{css/css.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/head.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet">
    <script type="application/javascript">

            function submit() {
                $.ajax({
                    url: '[[@{/doRecommend}]]',
                    type: "post",
                    data: {
                        "location": $("#location").val(),
                        "province": $("#province").val(),
                        "leibie": $("#leibie").val(),
                        "major": $("#zhuanye").val(),
                        "grade": $("#grade").val(),
                        "course1": $("#course1").val(),
                        "course2": $("#course2").val(),
                    },
                    success: function (data) {
                        $("#tbody").empty();
                        for (var i in data){
                            $("#tbody").append("<tr align=\"center\" class=\"tb_content\" >\n" +
                                " <td align=\"left\">"+i+"</td>\n" +
                                " <td align=\"left\"><a href='/GetSchoolInfo?name="+data[i].college+"'>"+data[i].college+"</a></td>\n" +
                                " <td align=\"left\"><a href='/GetProfession?name="+data[i].majorname+"'>"+data[i].majorname+"</a></td>\n" +
                                " </tr>");
                        }
                    }
                });
            }

    </script>
</head>
<body>
<div class="header-main">
    <div id="head" th:include="public/head :: common_head"></div>
</div>
<div>
    <div class="wrap">
        <select name="postdb[shengfen]" id="location" class="gfxdx_shengfen index_input">
            <option value="">选择生源地</option>
            <option th:each="loc:${location}" th:value="${loc}" th:text="${loc}" value="1">
            </option>
        </select>
        <select name="postdb[yx_localprovince]" id="province" class="gfxdx_shengfen index_input">
            <option value="">选择院校省份</option>
            <option value="">全国</option>
            <option th:each="pro:${province}" th:value="${pro}" th:text="${pro}" value="1"></option>
        </select>
        <select name="postdb[leibie]" id="leibie" class="gfxdx_kelei index_input">
            <option value="">选择文理科</option>
            <option th:each="leibie:${pici}" th:value="${leibie}" th:text="${leibie}" value="1"></option>
        </select>
        <select name="postdb[course1]" id="course1" class="gfxdx_kelei index_input">
            <option value="">选择偏好科目一</option>
            <option value="物理">物理</option>
            <option value="历史">历史</option>
        </select>
        <select name="postdb[course2]" id="course2" class="gfxdx_kelei index_input">
            <option value="">选择偏好科目二</option>
            <option value="物理">生物</option>
            <option value="化学">化学</option>
            <option value="政治">政治</option>
            <option value="地理">地理</option>
        </select>
        <input name="postdb[grade]" id="grade" class="gfxdx_fenshu index_input" type="number" placeholder=" 请输入高考分数">
        <div class="gfxdx_btn cursor" onclick="submit()">点这里，选大学 <i class="fa fa-hand-o-up"></i></div>
        <div class="clear"></div>
    </div>
</div>
<div>
    <table width="50%" border="0" cellpadding="0" cellspacing="1" class="bgddd">
        <thead >
        <tr  align="center" class="tb_title">
            <th>序号</th>
            <th>推荐学校</th>
            <th>推荐专业</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>
<div class="bottom_main">
    <div id="bottom" th:include="public/bottom :: common_bottom"></div>
</div>
</body>
</html>