<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>志愿推荐</title>
    <link th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/font-awesome.min.css}" type="text/javascript" rel="stylesheet">
    <link th:href="@{css/bootsnav.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/normalize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/css.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/jquery-1.11.0.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootsnav.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{css/css.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/head.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet">
    <script th:src="@{js/clock.js}" type="text/javascript"></script>
    <link th:href="@{/css/toastr.css}" rel="stylesheet" />
    <script th:src="@{/js/toastr.min.js}"></script>

    <script type="application/javascript" language="JavaScript" th:inline="javascript">
            function submit() {
                var user=[[${session.Users}]];
                 toastr.options.positionClass = 'toast-top-center';
                if (user.location==null||user.leibie==null||user.grade==null){
                    toastr.warning('请完善个人信息');
                }else {
                    $.ajax({
                        url: '/doRecommend',
                        type: "post",
                        async: true,
                        traditional: true,
                        data: {
                            "location": user.location,
                            "province": $("#province").val(),
                            "leibie": user.leibie,
                            "grade": user.grade,
                            "course1": $("#course1").val(),
                            "course2": $("#course2").val(),
                            "course3": $("#course3").val(),
                            "graderange":$("#graderange").val(),
                            "preference": $("#preference").val(),
                        },
                        success: function (data) {
                            $("#tbody").empty();
                            if (data){
                                for (var i in data){
                                    $("#tbody").append("<tr align=\"center\" class=\"tb_content\" >\n" +
                                        " <td align=\"left\">"+i+"</td>\n" +
                                        " <td align=\"left\"><a href='/GetSchoolInfo?name="+data[i].college+"'>"+data[i].college+"</a></td>\n" +
                                        " <td align=\"left\"><a >"+data[i].province+"</a></td>\n" +
                                        " <td align=\"left\"><a href='/GetProfession?name="+data[i].majorname+"'>"+data[i].majorname+"</a></td>\n" +
                                        " <td align=\"left\"><a >"+data[i].grade+"</a></td>\n" +
                                        " </tr>");
                                }
                            }
                        }
                    });
                }

            }

    </script>
</head>
<body>
<div class="header-main">
    <div id="head" th:include="public/head :: common_head"></div>
</div>
    <div class="wrap" style="margin-bottom: 25%;">
        <div style="margin-left: 10%;margin-bottom: 1%;">
            <select name="postdb[yx_localprovince]" id="province" class="gfxdx_shengfen index_input">
                <option value="">选择院校省份</option>
                <option value="province">全国</option>
                <option th:each="pro:${province}" th:value="${pro}" th:text="${pro}" value="1"></option>
            </select>
            <select name="postdb[course1]" id="course1" class="gfxdx_shengfen index_input">
                <option value="">选择偏好科目一</option>
                <option value="语文">语文</option>
                <option value="英语">英语</option>
                <option value="数学">数学</option>
            </select>
            <select name="postdb[course2]" id="course2" class="gfxdx_shengfen index_input">
                <option value="">选择偏好科目二</option>
                <option value="物理">物理</option>
                <option value="历史">历史</option>
            </select>
            <select name="postdb[course3]" id="course3" class="gfxdx_shengfen index_input">
                <option value="">选择偏好科目三</option>
                <option value="物理">生物</option>
                <option value="化学">化学</option>
                <option value="政治">政治</option>
                <option value="地理">地理</option>
            </select>
            <select name="postdb[course2]" id="preference" class="gfxdx_shengfen index_input">
                <option value="comprehensive">综合</option>
                <option value="environment">环境</option>
                <option value="life">生活</option>
            </select>
            <input name="postdb[grade]" id="graderange" class="gfxdx_fenshu index_input" type="number" th:value="10" placeholder="分数波动范围">
            <div class="gfxdx_btn cursor"  onclick="submit()">点这里，选大学 <i class="fa fa-hand-o-up"></i></div>
            <div class="clear"></div>
        </div>
        <div>
            <table width="50%" border="0" cellpadding="0" cellspacing="1" class="bgddd">
                <thead >
                <tr  align="center" class="tb_title">
                    <th align="center">序号</th>
                    <th align="center">推荐学校</th>
                    <th align="center">省份</th>
                    <th align="center">推荐专业</th>
                    <th align="center">分数</th>
                    <th align="center"></th>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
    </div>

<div class="bottom_main">
    <div id="bottom" th:include="public/bottom :: common_bottom"></div>
</div>
</body>
</html>