<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>分数线</title>
    <link th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/font-awesome.min.css}" type="text/javascript" rel="stylesheet">
    <link th:href="@{css/bootsnav.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/normalize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{css/css.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/jquery-1.11.0.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootsnav.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{css/css.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/head.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet">
    <script th:src="@{js/clock.js}" type="text/javascript"></script>

</head>
<body>
<div class="header-main">
    <div id="head" th:include="public/head :: common_head"></div>
</div>
<div class="wrap">
    <select name="postdb[yx_localprovince]" id="province" class="gfxdx_shengfen index_input">
        <option value="北京">选择省份</option>
        <option th:each="pro:${province}" th:value="${pro}" th:text="${pro}" ></option>
    </select>
    <select name="postdb[yx_localprovince]" id="year" class="gfxdx_shengfen index_input">
        <option value="2020">选择年份</option>
        <option th:each="year1 :${year}" th:text="${year1}" th:value="${year1}" ></option>
    </select>
    <select name="postdb[yx_localprovince]" id="leibie" class="gfxdx_shengfen index_input">
        <option value="不分文理">选择类别</option>
        <option th:each="lb :${leibie}"
                th:text="${lb}" th:value="${lb}" ></option>
    </select>
    <select name="postdb[yx_localprovince]" id="pici" class="gfxdx_shengfen index_input">
        <option value="本科批">选择批次</option>
        <option th:each="pc :${pici}"
                th:text="${pc}" th:value="${pc}" ></option>
    </select>
    <div class="gfxdx_btn cursor" id="searchBtn">查询<i class="fa fa-hand-o-up"></i></div>
    <script>
        $("#searchBtn").click(function () {
            window.location.href='/scoreline?location='+$("#province").val()+
                "&year="+$("#year").val()+"&leibie="+$("#leibie").val()+"&pici="+$("#pici").val();
        });
    </script>
    <div style="padding-top: 50px;">
        <table width="100%" border="0" cellpadding="0" cellspacing="1" class="bgddd">
            <tbody>
            <tr align="center" class="tb_title">
                <th>序号</th>
                <th>地区</th>
                <th>年份</th>
                <th>考生类别</th>
                <th>批次</th>
                <th>分数线</th>
            </tr>
            <tr th:each="score : ${score_line}" align="center" class="tb_content" id="a12654">
                <td th:text="${scoreStat.index+1}"></td>
                <td th:text="${score.getLocation()}"></td>
                <td th:text="${score.getYear()}"></td>
                <td th:text="${score.getLeibie()}"></td>
                <td th:text="${score.getPici()}"></td>
                <td th:text="${score.getScore()}"></td>
            </tr>
            </tbody>
            <tr>
                <td colspan="8">
                    <div class="pagelist">
                        <p>当前<span th:text="${score_line.getNumber()} + 1"></span>页,总<span
                                th:text="${score_line.getTotalPages()}"></span>页
                            　　　　　　　　　　　　　　　　　共<span th:text="${score_line.getTotalElements()}"></span>条记录
                            <a th:href="@{/scoreline}">首页</a>
                            <a th:href="@{/scoreline(pageNum = ${score_line.hasPrevious()} ? ${score_line.getNumber() } : 1)}">上一页</a>
                            <a th:href="@{/scoreline(pageNum = ${score_line.hasNext()} ? ${score_line.getNumber()} + 2 : ${score_line.getTotalPages()})}">下一页</a>
                            <a th:href="@{/scoreline(pageNum = ${score_line.getTotalPages()})}">尾页</a></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
<script>
    $(document).ready(function () {
        $("th").attr("align", "center")
        $("td").attr("align", "left")
    });
</script>
<div class="bottom_main">
    <div id="bottom" th:include="public/bottom :: common_bottom"></div>
</div>
</body>
</html>